@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

p, h1, h2, h3, li {
  font-family: 'Roboto', sans-serif; }

.image-gradient-dynamic {
  line-height: 0;
  position: relative;
  width: 100%; }
  .image-gradient-dynamic img {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%; }
  .image-gradient-dynamic .copy {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 999; }
    .image-gradient-dynamic .copy p {
      color: white;
      line-height: 1.5em;
      padding: 1em 2em;
      position: relative;
      font-size: 60px;
      text-transform: uppercase; }
  .image-gradient-dynamic .overlay {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5); }

section.testimonials {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  width: 80%; }
  section.testimonials::after {
    clear: both;
    content: "";
    display: table; }
  section.testimonials .first {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    section.testimonials .first:last-child {
      margin-right: 0; }
  section.testimonials .second {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    section.testimonials .second:last-child {
      margin-right: 0; }
  section.testimonials .third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    section.testimonials .third:last-child {
      margin-right: 0; }
  section.testimonials p {
    font-style: italic;
    line-height: 27px; }

section.join {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section.join::after {
    clear: both;
    content: "";
    display: table; }
  section.join .students {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    section.join .students:last-child {
      margin-right: 0; }
  section.join .employers {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    section.join .employers:last-child {
      margin-right: 0; }
  section.join h1 {
    text-align: center;
    color: #3a53a4; }
  section.join p {
    line-height: 27px;
    height: 175px; }
  section.join img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px; }
  section.join button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #2eccc6;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none; }

section.social-media {
  height: 375px;
  background: #333; }

footer {
  height: 375px;
  background: #000;
  text-align: center;
  vertical-align: middle;
  line-height: 375px; }
  footer p {
    color: white;
    margin-top: 0;
    margin-bottom: 0; }

header.navigation {
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
  min-height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: 0.8em 0; }
  header.navigation .navigation-menu-button {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: black; }
  header.navigation nav {
    float: right;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 53.75em) {
      header.navigation nav {
        float: right; } }
  header.navigation ul.navigation-menu {
    float: right;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: white;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: rgba(0, 0, 0, 0.7);
      display: inline-block;
      text-decoration: none; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: black; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: '\25BE';
      color: rgba(0, 0, 0, 0.7); }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: 0.8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      header.navigation ul.submenu li a {
        background-color: #f7f7f7;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: white;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 60px; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }
  header.navigation .search-bar {
    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%; }
    header.navigation .search-bar form {
      position: relative; }
      header.navigation .search-bar form input[type=search] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: white;
        border-radius: 6px;
        border: 1px solid #f2f2f2;
        color: rgba(0, 0, 0, 0.7);
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation .search-bar form input[type=search] {
            width: 100%; } }
      header.navigation .search-bar form button[type=submit] {
        background: white;
        border: none;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em; }
        header.navigation .search-bar form button[type=submit] img {
          height: 12px;
          opacity: 0.7;
          padding: 1px; }
    @media screen and (min-width: 53.75em) {
      header.navigation .search-bar {
        display: inline-block;
        position: relative;
        width: 16em; }
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block; } }

/*# sourceMappingURL=main.css.map */
