//main image

.image-gradient-dynamic {

  line-height: 0;
  position: relative;
  width: 100%;

  img {
   height: auto;
   left: 0;
   position: relative;
   top: 0;
   width: 100%;
  }

  .copy {
    @include transform(translate(-50%, -50%));
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 999;

    p {
      color: white;
      line-height: 1.5em;
      padding: 1em 2em;
      position: relative;
      font-size: 60px;
      text-transform: uppercase;
    }
  }

  .overlay {
    display: block;
    @include position(absolute, 0px 0px 0px 0px);
    background: rgba(0,0,0,0.5);
  }
}


//testimonials
section.testimonials {
  @include section-padding;
  @include outer-container;
  .first {
    @include span-columns(4)
  }
  .second {
    @include span-columns(4)
  }
  .third {
    @include span-columns(4)
  }
  p {
    font-style: italic;
    line-height: 27px;
  }
  width : $testimonials-width;

}
// student and employer section
section.join {
  @include section-padding;
  @include outer-container;
  .students {
    @include span-columns(6);
  }
  .employers {
    @include span-columns(6);
  }
  h1 {
    text-align: center;
    color : #3a53a4;
  }
  p {
    line-height: 27px;
    height : 175px;
  }
  img {
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 100%;
    padding : 20px;
  }
  button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #2eccc6;;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display : block;
  margin-left : auto;
  margin-right : auto;
  border : none;
  }

}

//social media

section.social-media {
  @include block($section-heigth, $social-background);

}

//footer
footer {
  @include block($section-heigth, $footer-background);
  p {
    color : white;
    margin-top : 0;
    margin-bottom : 0;
  }
  text-align:center;
  vertical-align: middle;
  line-height : $section-heigth;
}
