// block size
@mixin block($block-heigth : null, $block-background : null) {
  height : $block-heigth;
  background : $block-background;
}

@mixin section-padding($top : null, $bottom : null) {
  padding-top : $padding;
  padding-bottom : $padding;
}
